In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
#import pickle
#import statsmodels.api as sm
import matplotlib
import matplotlib.pyplot as plt
#from time import ctime
#import datetime
import csv
#%pprint

#import re

%matplotlib inline

In [3]:
datapath = "../data/"
outputs = "../outputs/"

api_key = "c0c23ee1793316f86663e645642d8754"

montevideo_geo = [-34.9011, -56.1645]
miraflores_geo = [-12.1111, -77.0316]

# links
* https://darksky.net/dev/docs
* https://github.com/bitpixdigital/forecastiopy3

In [142]:
time= "1561950000" # = 2019-7-1-0-0-0
units = "si"
lang = "en"
daily = 60*60*24 # = number of seconds in a day
days_in_month = 31
days_in_month = days_in_month-1

In [213]:
save_csv("montevideo")
save_csv("miraflores")

# csv to pandas

In [31]:
df_montevideo = pd.read_csv(os.path.join(datapath,'19-07-{}-weather.csv'.format("montevideo")))
df_miraflores = pd.read_csv(os.path.join(datapath,'19-07-{}-weather.csv'.format("miraflores")))

In [28]:
dfs_dict = {}
dfs_dict = {"montevideo": df_montevideo, "miraflores": df_miraflores}

In [32]:
df_miraflores.head()

,time,apparentTemperature,cloudCover,humidity,precipIntensity,precipProbability,temperature
0,1561939200,23.11,0.69,0.76,0.0202,0.07,22.79
1,1561942800,22.84,1.00,0.77,0.0091,0.06,22.52
2,1561946400,22.80,1.00,0.76,0.0253,0.07,22.51
3,1561950000,22.80,1.00,0.75,0.0532,0.07,22.54
4,1561953600,22.88,0.93,0.74,0.0652,0.07,22.62

In [33]:
df_miraflores.tail()

,time,apparentTemperature,cloudCover,humidity,precipIntensity,precipProbability,temperature
19,1562007600,23.89,0.50,0.74,0.0056,0.02,23.55
20,1562011200,23.85,0.66,0.73,0.0107,0.03,23.54
21,1562014800,23.72,0.77,0.73,0.0217,0.04,23.42
22,1562018400,23.51,0.80,0.74,0.0239,0.05,23.21
23,1562022000,23.26,0.78,0.75,0.0257,0.05,22.95

In [34]:
df_montevideo.head()

,time,apparentTemperature,cloudCover,humidity,precipIntensity,precipProbability,temperature
0,1561946400,18.80,0.88,0.97,1.6447,0.57,18.37
1,1561950000,18.80,0.83,0.96,1.8710,0.56,18.40
2,1561953600,18.79,0.81,0.94,1.1489,0.56,18.43
3,1561957200,18.73,0.81,0.93,0.4373,0.48,18.40
4,1561960800,18.23,0.77,0.91,0.1413,0.18,18.01

In [70]:
df_montevideo.tail()

,time,apparentTemperature,cloudCover,humidity,precipIntensity,precipProbability,temperature
19,1562014800,16.02,1.00,0.78,0.3203,0.44,16.02
20,1562018400,16.43,0.99,0.76,0.3282,0.42,16.43
21,1562022000,16.64,0.98,0.75,0.3575,0.39,16.64
22,1562025600,16.26,0.91,0.76,0.3219,0.36,16.26
23,1562029200,16.08,0.66,0.74,0.0260,0.08,16.08

In [71]:
print("INFO:\n")
for name,df in dfs_dict.items():
    print(name.upper(), '\n')
    print(df.info(), '\n')

INFO:

MONTEVIDEO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
time                   24 non-null int64
apparentTemperature    24 non-null float64
cloudCover             24 non-null float64
humidity               24 non-null float64
precipIntensity        24 non-null float64
precipProbability      24 non-null float64
temperature            24 non-null float64
dtypes: float64(6), int64(1)
memory usage: 1.4 KB
None

MIRAFLORES

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
time                   24 non-null int64
apparentTemperature    24 non-null float64
cloudCover             24 non-null float64
humidity               24 non-null float64
precipIntensity        24 non-null float64
precipProbability      24 non-null float64
temperature            24 non-null float64
dtypes: float64(6), int64(1)
memory usage: 1.4 KB
None

In [64]:
print("DESCRIPTION:\n")
for name,df in dfs_dict.items():
    print(name.upper(), '\n')
    print(df.describe(), '\n')

DESCRIPTION:

MONTEVIDEO

               time  apparentTemperature  cloudCover   humidity  \
count  2.400000e+01            24.000000   24.000000  24.000000
mean   1.561988e+09            17.104583    0.777917   0.814583
std    2.545584e+04             1.066824    0.235593   0.078296
min    1.561946e+09            15.190000    0.320000   0.740000
25%    1.561967e+09            16.387500    0.627500   0.750000
50%    1.561988e+09            17.265000    0.820000   0.785000
75%    1.562008e+09            17.470000    1.000000   0.882500
max    1.562029e+09            18.800000    1.000000   0.970000

       precipIntensity  precipProbability  temperature
count        24.000000          24.000000    24.000000
mean          0.339025           0.237917    17.022917
std           0.510044           0.204301     0.952354
min           0.000000           0.000000    15.190000
25%           0.011475           0.067500    16.387500
50%           0.119900           0.150000    17.230000
75%           0.392525           0.420000    17.432500
max           1.871000           0.570000    18.430000

MIRAFLORES

               time  apparentTemperature  cloudCover   humidity  \
count  2.400000e+01            24.000000   24.000000  24.000000
mean   1.561981e+09            23.655000    0.549167   0.729583
std    2.545584e+04             0.636553    0.300245   0.022161
min    1.561939e+09            22.800000    0.060000   0.690000
25%    1.561960e+09            23.105000    0.330000   0.717500
50%    1.561981e+09            23.615000    0.545000   0.730000
75%    1.562001e+09            24.135000    0.785000   0.740000
max    1.562022e+09            24.740000    1.000000   0.770000

       precipIntensity  precipProbability  temperature
count        24.000000          24.000000    24.000000
mean          0.024104           0.041250    23.357500
std           0.020810           0.023831     0.623115
min           0.000000           0.000000    22.510000
25%           0.008025           0.030000    22.812500
50%           0.022050           0.040000    23.320000
75%           0.029350           0.060000    23.812500
max           0.065500           0.070000    24.430000

In [66]:
print("VARIABLE CATEGORIES:\n")
for name,df in dfs_dict.items():
    print(name.upper(), '\n')
    for cat in df.columns:
        print("Number of levels in category '{0}': \b {1:2.2f} ".format(cat, df_miraflores[cat].unique().size))

VARIABLE CATEGORIES:

MONTEVIDEO

Number of levels in category 'time':  24.00
Number of levels in category 'apparentTemperature':  23.00
Number of levels in category 'cloudCover':  20.00
Number of levels in category 'humidity':  9.00
Number of levels in category 'precipIntensity':  20.00
Number of levels in category 'precipProbability':  7.00
Number of levels in category 'temperature':  23.00
MIRAFLORES

Number of levels in category 'time':  24.00
Number of levels in category 'apparentTemperature':  23.00
Number of levels in category 'cloudCover':  20.00
Number of levels in category 'humidity':  9.00
Number of levels in category 'precipIntensity':  20.00
Number of levels in category 'precipProbability':  7.00
Number of levels in category 'temperature':  23.00

print("MISSING DATA:\n")
for name,df in dfs_dict.items():
    print(name.upper(), '\n')
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    print(missing_data.head(10))